<div class="col-lg-8">
    <h1 class="h1-strong">{{title}}</h1>

    <div class="people" *ngIf="following">

   
        <div *ngFor='let follow of following' class="item-user">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="image-user pull-left">
                        <a href="">
                            <img src="{{url + 'get-image-user/' + follow.followed.image}}" *ngIf="follow.followed.image">
                            <img src="assets/user.jfif" *ngIf='!follow.followed.image'>
                        </a>
                    </div>    
                    <div class="username pull-left">
                        <p class="namesurname"> 
                            <a [routerLink]="['/perfil/', follow.followed._id]">{{follow.followed.name + ' ' + follow.followed.surname}}</a>
                        </p>
                        <p class="nickname">{{follow.followed.nick}}</p>
                    </div>

                     <!-- seguir dejar de seguir  -->

                    <div class="pull-right" *ngIf="follow.followed._id != identity._id">
                        <button class="btn btn-success" *ngIf="follows.indexOf(follow.followed._id) < 0" (click)='followUser(follow.followed._id)'>
                            <span class="glyphicon glyphicon-plus-sign"></span>
                             Seguir
                            </button>
                        <button class="btn btn-primary" *ngIf="follows.indexOf(follow.followed._id) >= 0" (mouseenter)="mouseEnter(follow.followed._id)" (mouseleave)="mouseLeave(follow.followed._id)" [class.btn-danger]="follow.followed._id == followUserOver" (click)="unfollowUser(follow.followed._id)">
                            <span *ngIf="follow.followed._id == followUserOver; else following">
                                <span class="glyphicon glyphicon-minus-sign"></span> 
                                Dejar de seguir
                            </span>
                            <ng-template #following>
                                <span class="glyphicon glyphicon-ok-sign"></span> 
                                Siguiendo
                            </ng-template>
                        </button>
                    </div>

                </div>
            </div>
        </div>
        <!-- paginacion -->
        <ul class="pagination pull-right">
            <li *ngIf="page > 1"><a [routerLink]="['/siguiendo', userPageId, prevPage]">Anterior</a></li>
            <li *ngIf="pages != page"><a [routerLink]="['/siguiendo', userPageId, nextPage]">Siguiente</a></li>
        </ul>
    </div>
</div>
<div class="clear-fix"></div>
<app-sidebar></app-sidebar>

