<div class="col-lg-10">
    <h3>{{title}}</h3>

    <!-- mensajes recibidos -->

    <div class="people" *ngIf="messages">

   
        <div *ngFor='let message of messages' class="item-user">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="image-user pull-left">
                        <a href="">
                            <img src="{{url + 'get-image-user/' + message.emitter.image}}" *ngIf="message.emitter.image">
                            <img src="assets/user.jfif" *ngIf='!message.emitter.image'>
                        </a>
                    </div>    
                    <div class="username pull-left">
                        <p class="namesurname"> 
                            <a [routerLink]="['/perfil/', message.emitter._id]">{{message.emitter.name + ' ' + message.emitter.surname}}
                            </a>
                            &nbsp;|&nbsp;
                            <span class="nickname">{{message.emitter.nick}}</span>
                            &nbsp;|&nbsp;
                            <span class="date nickname">
                                {{ message.createdAt |amLocale:'es' | amTimeAgo}}
                            </span>
                        </p>
                        <p>
                            {{message.text}}
                        </p> 
                    </div> 
                                       
                </div>
            </div>
        </div>
    </div>
    <!-- paginacion -->
    <ul class="pagination pull-right">
        <li *ngIf="page > 1"><a [routerLink]="['/mensajes/recibidos', prevPage]">Anterior</a></li>
        <li *ngIf="pages != page"><a [routerLink]="['/mensajes/recibidos', nextPage]">Siguiente</a></li>
    </ul>
</div>